#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            retro-tap;
        };

        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };
    };

    macros {
        TSD0: TSD0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(R) &kp E &kp D &kp N1 &kp N9 &kp N7 &kp N0 &kp LS(H) &kp O &kp R &kp S &kp E &kp EXCL>;
            label = "TSD0";
        };

        tsd2: tsd2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(P) &kp R &kp O &kp V &kp I &kp N &kp C &kp E &kp N4 &kp N4 &kp LS(D) &kp E &kp D &kp U &kp C &kp T &kp E &kp D>;
            label = "TSD2";
        };

        Alpha: Alpha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(A) &kp L &kp P &kp H &kp A>;
            label = "Alpha";
        };

        Bravo: Bravo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(B) &kp R &kp O &kp V &kp O>;
            label = "Bravo";
        };

        Charlie: Charlie {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(C) &kp H &kp A &kp R &kp L &kp I &kp E>;
            label = "Charlie";
        };

        Delta: Delta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(D) &kp E &kp L &kp T &kp A>;
            label = "DELTA";
        };

        Echo: Echo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(E) &kp C &kp H &kp O>;
            label = "ECHO";
        };

        Foxtrot: Foxtrot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(F) &kp O &kp X &kp T &kp R &kp O &kp T>;
            label = "FOXTROT";
        };

        Golf: Golf {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(G) &kp O &kp L &kp F>;
            label = "GOLF";
        };

        Hotel: Hotel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(H) &kp O &kp T &kp E &kp L>;
            label = "HOTEL";
        };

        India: India {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(I) &kp N &kp D &kp I &kp A>;
            label = "INDIA";
        };

        Juliet: Juliet {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(J) &kp U &kp L &kp I &kp E &kp T>;
            label = "JULIET";
        };

        Kilo: Kilo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(K) &kp I &kp L &kp O>;
            label = "KILO";
        };

        Lima: Lima {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(L) &kp I &kp M &kp A>;
            label = "LIMA";
        };

        Mike: Mike {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(M) &kp I &kp K &kp E>;
            label = "MIKE";
        };

        November: November {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N) &kp O &kp V &kp E &kp M &kp B &kp E &kp R>;
            label = "NOVEMBER";
        };

        Oscar: Oscar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(O) &kp S &kp C &kp A &kp R>;
            label = "OSCAR";
        };

        Papa: Papa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(P) &kp A &kp P &kp A>;
            label = "PAPA";
        };

        Quebec: Quebec {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(Q) &kp U &kp E &kp B &kp E &kp C>;
            label = "QUEBEC";
        };

        Romeo: Romeo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(R) &kp O &kp M &kp E &kp O>;
            label = "ROMEO";
        };

        Sierra: Sierra {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(S) &kp I &kp E &kp R &kp R &kp A>;
            label = "SIERRA";
        };

        Tango: Tango {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(T) &kp A &kp N &kp G &kp O>;
            label = "TANGO";
        };

        Uniform: Uniform {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(U) &kp N &kp I &kp F &kp O &kp R &kp M>;
            label = "UNIFORM";
        };

        Victor: Victor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(V) &kp I &kp C &kp T &kp O &kp R>;
            label = "VICTOR";
        };

        Whiskey: Whiskey {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(W) &kp H &kp I &kp S &kp K &kp E &kp Y>;
            label = "WHISKEY";
        };

        Xray: Xray {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(X) &kp R &kp A &kp Y>;
            label = "XRAY";
        };

        Yankee: Yankee {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(Y) &kp A &kp N &kp K &kp E &kp E>;
            label = "YANKEE";
        };

        Zulu: Zulu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(Z) &kp U &kp L &kp U>;
            label = "ZULU";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Operator+ {
            label = "op+";
            display-name = "opn";
            bindings = <
&kp EQUAL       &kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4    &kp NUMBER_5  &to 0                                                      &mo 5        &kp NUMBER_6  &kp N7           &kp N8           &kp N9       &kp N0                     &kp MINUS
&kp TAB         &kp Q             &kp W         &kp E           &kp R           &kp T         &to 1                                                      &to 3        &kp Y         &kp U            &kp I            &kp O        &kp P                      &kp BSLH
&kp ESC         &hm LEFT_SHIFT A  &hm LCTRL S   &hm LEFT_ALT D  &hm LEFT_GUI F  &kp G         &to 2       &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &to 4        &kp H         &hm RIGHT_GUI J  &hm RIGHT_ALT K  &hm RCTRL L  &hm RIGHT_SHIFT SEMICOLON  &kp SQT
&kp LEFT_SHIFT  &kp Z             &kp X         &kp C           &kp V           &kp B                                &kp HOME      &kp PG_UP                          &kp N         &kp M            &kp COMMA        &kp DOT      &kp FSLH                   &kp RSHFT
&mo 2           &none             &none         &none           &none                         &lt 1 BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &lt 2 SPACE                &none            &none            &none        &none                      &to 6
            >;
        };

        Extended {
            display-name = "Ex";
            bindings = <
&none      &none         &none         &none             &none              &none        &to 0                                                        &mo 5      &none         &none           &none            &none                 &none                  &none
&kp PLUS   &kp EXCL      &kp AT        &kp HASH          &kp DOLLAR         &kp PERCENT  &none                                                        &none      &kp CARET     &kp AMPS        &kp ASTERISK     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE
&kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4       &kp N5       &none     &kp LCTRL  &kp LALT      &kp RIGHT_GUI  &kp RCTRL  &none      &kp NUMBER_6  &kp N7          &kp NUMBER_8     &kp N9                &kp N0                 &kp MINUS
&kp LSHFT  &kp TILDE     &kp CAPS      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none                             &kp HOME      &kp PAGE_UP                          &none         &kp LEFT_BRACE  &kp RIGHT_BRACE  &none                 &kp GRAVE              &kp RSHFT
&trans     &none         &none         &none             &none                           &kp BSPC  &kp DEL    &kp END       &kp PAGE_DOWN  &kp ENTER  &kp SPACE                &TSD0           &none            &none                 &none                  &trans
            >;
        };

        Media {
            display-name = "Fn";
            bindings = <
&none  &kp F1  &kp F2             &kp F3      &kp F4           &kp F5      &to 0                                                 &mo 5          &kp F6                  &kp F7         &kp F8           &kp F9              &kp F10        &kp F11
&none  &none   &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP  &none       &trans                                                &trans         &none                   &kp HOME       &kp C_AC_SEARCH  &kp END             &none          &kp F12
&none  &none   &kp C_PREVIOUS     &kp K_STOP  &kp C_PLAY       &kp C_NEXT  &trans     &trans     &trans      &trans  &trans      &trans         &kp LEFT                &kp DOWN       &kp UP_ARROW     &kp RIGHT           &kp RC(EQUAL)  &kp F13
&none  &none   &none              &none       &none            &none                             &trans      &trans                             &kp C_AL_PREVIOUS_TASK  &kp PAGE_DOWN  &kp PAGE_UP      &kp C_AL_NEXT_TASK  &kp RC(MINUS)  &kp F14
&none  &none   &none              &none       &none                        &kp SPACE  &kp ENTER  &trans      &trans  &kp DELETE  &kp BACKSPACE                          &none          &none            &none               &none          &none
            >;

            label = "fn";
        };

        original {
            label = "original";
            display-name = "default-";
            bindings = <
&kp EQUAL       &kp N1     &kp N2    &kp N3          &kp N4           &kp N5  &to 0                                                         &mo 5      &kp N6  &kp N7  &kp N8          &kp N9            &kp N0             &kp MINUS
&kp TAB         &kp Q      &kp W     &kp E           &kp R            &kp T   &to 1                                                         &to 3      &kp Y   &kp U   &kp I           &kp O             &kp P              &kp BSLH
&kp ESC         &kp A      &kp S     &kp D           &kp F            &kp G   &to 2          &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &to 4      &kp H   &kp J   &kp K           &kp L             &kp SEMICOLON      &kp SQT
&kp LEFT_SHIFT  &kp Z      &kp X     &kp C           &kp V            &kp B                             &kp HOME      &kp PG_UP                        &kp N   &kp M   &kp COMMA       &kp DOT           &kp FSLH           &kp RSHFT
&mo 2           &kp GRAVE  &kp CAPS  &kp LEFT_ARROW  &kp RIGHT_ARROW          &kp BACKSPACE  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE          &kp UP  &kp DOWN_ARROW  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &mo 1
            >;
        };

        Operator {
            display-name = "default-";
            bindings = <
&none           &none             &none        &none           &none           &none  &to 0                                                      &mo 5        &none  &none            &none            &none        &none                      &none
&kp TAB         &kp Q             &kp W        &kp E           &kp R           &kp T  &to 1                                                      &to 3        &kp Y  &kp U            &kp I            &kp O        &kp P                      &kp BSLH
&kp ESC         &hm LEFT_SHIFT A  &hm LCTRL S  &hm LEFT_ALT D  &hm LEFT_GUI F  &kp G  &to 2       &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &to 4        &kp H  &hm RIGHT_GUI J  &hm RIGHT_ALT K  &hm RCTRL L  &hm RIGHT_SHIFT SEMICOLON  &kp SQT
&kp LEFT_SHIFT  &kp Z             &kp X        &kp C           &kp V           &kp B                         &kp HOME      &kp PG_UP                          &kp N  &kp M            &kp COMMA        &kp DOT      &kp FSLH                   &kp RSHFT
&mo 2           &none             &none        &none           &none                  &lt 1 BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &lt 2 SPACE         &none            &none            &none        &none                      &mo 1
            >;

            label = "op";
        };

        mod {
            display-name = "Mod";
            bindings = <
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &to 0                                                    &trans           &none        &rgb_ug RGB_SPI  &rgb_ug RGB_ON  &bl BL_INC  &bl BL_DEC  &bl BL_TOG
&none           &none         &none         &none         &sys_reset    &none         &trans                                                   &trans           &none        &none            &none           &none       &none       &none
&studio_unlock  &none         &soft_off     &none         &none         &none         &trans  &none  &out OUT_USB      &bt BT_CLR  &none       &trans           &none        &none            &none           &none       &none       &none
&none           &none         &none         &none         &none         &bootloader                  &out OUT_BLE      &none                                    &bootloader  &none            &none           &none       &none       &none
&trans          &none         &none         &none         &none                       &none   &none  &out OUT_TOG      &none       &bl BL_TOG  &rgb_ug RGB_TOG               &bl BL_INC       &bl BL_DEC      &bl BL_TOG  &none       &trans
            >;
        };

        RTO {
            bindings = <
&kp EQUAL       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &to 0                                       &to 5   &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0   &kp MINUS
&kp TAB         &Quebec       &Whiskey      &Echo         &Romeo        &Tango        &trans                                      &trans  &Yankee       &Uniform      &India        &Oscar        &Papa          &kp NON_US_BACKSLASH
&kp ESCAPE      &Alpha        &Sierra       &Delta        &Foxtrot      &Golf         &trans  &trans  &trans      &trans  &trans  &trans  &Hotel        &Juliet       &Kilo         &Lima         &kp SEMICOLON  &kp SINGLE_QUOTE
&kp LEFT_SHIFT  &Zulu         &Xray         &Charlie      &Victor       &Golf                         &trans      &trans                  &November     &Mike         &kp COMMA     &kp PERIOD    &kp SLASH      &kp RIGHT_SHIFT
&none           &none         &none         &none         &none                       &trans  &trans  &trans      &trans  &trans  &trans                &none         &none         &none         &none          &none
            >;
        };
    };
};
