#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <100>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            require-prior-idle-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Operator {
            display-name = "default-";
            bindings = <
&kp EQUAL     &kp N1            &kp N2       &kp N3          &kp N4          &kp N5  &tog 0                                                     &mo 3        &kp N6  &kp N7           &kp N8           &kp N9       &kp N0                     &kp MINUS
&kp TAB       &kp Q             &kp W        &kp E           &kp R           &kp T   &to 1                                                      &to 3        &kp Y   &kp U            &kp I            &kp O        &kp P                      &kp BSLH
&hm CAPS ESC  &hm LEFT_SHIFT A  &hm LCTRL S  &hm LEFT_ALT D  &hm LEFT_GUI F  &kp G   &to 2       &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &to 4        &kp H   &hm RIGHT_GUI J  &hm RIGHT_ALT K  &hm RCTRL L  &hm RIGHT_SHIFT SEMICOLON  &kp SQT
&kp GRAVE     &kp Z             &kp X        &kp C           &kp V           &kp B                          &kp HOME      &kp PG_UP                          &kp N   &kp M            &kp COMMA        &kp DOT      &kp FSLH                   &kp RSHFT
&mo 2         &none             &none        &none           &none                   &lt 1 BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &lt 2 SPACE          &none            &none            &none        &none                      &mo 2
            >;

            label = "op";
        };

        Extended {
            display-name = "Ex";
            bindings = <
&kp EQUAL  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5       &to 0                                                        &mo 3      &kp N6        &kp NUMBER_7    &kp NUMBER_8     &kp NUMBER_9          &kp NUMBER_0           &kp MINUS
&kp GRAVE  &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PERCENT  &trans                                                       &trans     &kp CARET     &kp AMPS        &kp ASTERISK     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE
&kp TILDE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5       &trans    &kp LCTRL  &kp LALT      &kp RIGHT_GUI  &kp RCTRL  &trans     &kp NUMBER_6  &kp N7          &kp NUMBER_8     &kp N9                &kp N0                 &kp MINUS
&kp LSHFT  &none         &none         &none         &none         &none                             &kp HOME      &kp PAGE_UP                          &none         &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp RSHFT
&trans     &none         &none         &none         &none                      &kp BSPC  &kp DEL    &kp END       &kp PAGE_DOWN  &kp ENTER  &kp SPACE                &none           &none            &none                 &none                  &trans
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3             &kp F4      &kp F5           &kp F6      &tog 0                                      &mo 3   &kp F7    &kp F8            &kp F9         &kp F10            &kp F11     &kp F12
&trans  &trans  &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP  &trans      &trans                                      &trans  &none     &kp C_AC_ZOOM_IN  &kp C_AC_ZOOM  &kp C_AC_ZOOM_OUT  &trans      &trans
&trans  &trans  &kp C_PREVIOUS     &kp K_STOP  &kp C_PLAY       &kp C_NEXT  &trans  &trans  &trans      &trans  &trans  &trans  &kp LEFT  &kp DOWN          &kp UP_ARROW   &kp RIGHT          &none       &kp RET
&trans  &trans  &trans             &trans      &trans           &trans                      &trans      &trans                  &trans    &kp K_PREVIOUS    &kp PAGE_DOWN  &kp PAGE_UP        &kp K_NEXT  &trans
&trans  &trans  &trans             &trans      &trans                       &trans  &trans  &trans      &trans  &trans  &trans            &trans            &trans         &trans             &trans      &trans
            >;

            label = "fn";
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &to 0                                             &trans           &none        &none       &none       &bl BL_INC  &bl BL_DEC  &bl BL_TOG
&none           &none         &none         &none         &none         &none         &trans                                            &trans           &none        &none       &none       &none       &none       &none
&studio_unlock  &none         &none         &none         &none         &none         &trans  &none  &none      &bt BT_CLR  &none       &trans           &none        &none       &none       &none       &none       &none
&none           &none         &none         &none         &macro_ver    &bootloader                  &none      &none                                    &bootloader  &none       &none       &none       &none       &none
&trans          &none         &none         &none         &none                       &none   &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG               &bl BL_INC  &bl BL_DEC  &none       &none       &trans
            >;
        };

        original {
            label = "original";
            display-name = "default-";
            bindings = <
&kp EQUAL       &kp N1     &kp N2    &kp N3          &kp N4           &kp N5  &to 0                                                         &mo 3      &kp N6  &kp N7  &kp N8          &kp N9            &kp N0             &kp MINUS
&kp TAB         &kp Q      &kp W     &kp E           &kp R            &kp T   &trans                                                        &trans     &kp Y   &kp U   &kp I           &kp O             &kp P              &kp BSLH
&kp ESC         &kp A      &kp S     &kp D           &kp F            &kp G   &trans         &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &trans     &kp H   &kp J   &kp K           &kp L             &kp SEMICOLON      &kp SQT
&kp LEFT_SHIFT  &kp Z      &kp X     &kp C           &kp V            &kp B                             &kp HOME      &kp PG_UP                        &kp N   &kp M   &kp COMMA       &kp DOT           &kp FSLH           &kp RSHFT
&trans          &kp GRAVE  &kp CAPS  &kp LEFT_ARROW  &kp RIGHT_ARROW          &kp BACKSPACE  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE          &kp UP  &kp DOWN_ARROW  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
            >;
        };
    };
};
